body {
    background-color: rgba(217, 218, 181, 0.685);
}

.card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.container1 {
    position: relative;
    text-align: center;
    color: white;
}

.font-lucida {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.font-franklin {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 40px;
    font-weight: 100;
}

.font-verdana {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-indent: 30px;
}

.font-georgia {
    font-family: sans-serif;
}

/* Centered text */
.centered {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.star-checked {
    color: orange;
}

.jbg-color {
    filter: invert(18%) sepia(22%) saturate(177%) hue-rotate(32deg)
        brightness(75%) contrast(30%);
}
